
#tHeader{
    width: 100%;
}
.Logo{
    width: 80px;
}

main{
    min-height: 100vh;
}

nav{
    width: 80px;
    padding-right: 16px;
}
a{
    margin-right: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

video{
    width: 100%;
}

#mainTable{
    width: 100%;
}

#userImage{
    width: 500px;
}
.bioBox{
    width: 70%;
    text-align: left;
}
.button{
    padding: 16px;
    border-radius: 10px;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.footerText{
    text-align: center;
    color: white;
}

footer{
    background-color: black;
    height: 200px;
}